doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    script(type='text/javascript', src='/components/jquery/jquery.js')
    script(type='text/javascript', src='/components/underscore/underscore.js')
    link(href='http://fonts.googleapis.com/css?family=Fauna+One|Tenor+Sans', rel='stylesheet', type='text/css')
    block head
  body
    #navbar
      h2.logo
        a(href='/') reverie
      #user-nav
        if user
          script.
            var _csrf = '#{token}'
          a#new(href='/#{user.username}') blog
          a#new(href='/new') new post
          a#logout(href='javascript:void(0)') logout
        else
          a(href='/login') login
          .divider &nbsp;
          a(href='/register') register
    block content