extends base

block head
  title Reverie - New post

block content
  h2 Write a new post
  form(method='POST')
    input(type='hidden', name='_csrf', value=token)
    .field
      textarea#post(name='contents')
    .field
      input(type='submit', value='post')