extends base

block head
  title Reverie — Register

block content
  h1 Register for Reverie

  ul.error-msgs
   each msg in messages
    li.error-msg= msg

  div#register
    form(method='POST')
      input(type='hidden', name='_csrf', value=token)
      .field
        label name
        input#name(type='text', name='name')
      .field
        label username
        input#username(type='text', name='username')
      .field
        label email
        input#email(type='text', name='email')
      .field
        label password
        input#password(type='password', name='password')
      .field
        input#submit(type='submit', value='submit')